.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
*.http
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
DS_STORE
*.sqlite
.env
arm_venv
# vim temporary files
*~
.*.sw?
*.json
*.txt
*.ipynb
raw_to_schema.py
write_regions.py
parcerv0.py
parcerv1.py
parcerv0.py
test.html
*.http
.ipynb_checkpoints
.vscode
.idea
data
parcer